<!-- Main content -->
<section class="content mt-2">
  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Listing Data Request</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 my-2">
          <button type="button" class="btn btn-primary">Upload New Data</button>
          <button type="button" class="btn btn-primary" id="sync_data">Sync Synology</button>
        </div>
        <div class="col-sm-12 table-responsive">
          <table id="example" class="table table-bordered table-striped no-footer dataTable" role="grid"
            aria-describedby="example1_info" style="width:100%;">
            <thead>
              <tr role="row">
                <th>Request Time</th>
                <th>Name</th>
                <th>Map Synology ID</th>
                <th>Map Synology Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <% @maps.each do |map|%>
              <tr>
                <td><%= map.created_at.strftime('%d/%m/%Y')%></td>
                <td><%= map.file_name%></td>
                <td><%= map.data_id %></td>
                <td><%= map.file_date %></td>
                <td>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <%= link_to 'View', admins_manage_map_path(map.id), class: 'btn btn-success'%>
                    
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2"> Delete
                    </label>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>

<script>
  $(document).ready(function () {
    $('#example').DataTable({
      "order": [
        [3, "desc"]
      ]
    });
    $('#sync_data').click(function(){
      HoldOn.open(options);
      var options = {
          theme:"sk-bounce",
          message:'Please wait while fetching the data... ',
          backgroundColor:"#706f6c",
          textColor:"white"
      };
       $.get("<%= admins_manage_sync_data_path %>", function(data, status){
      }).done(function() {
        HoldOn.close();
        window.location.reload()
      });
     

    })
  });
</script>