<!DOCTYPE html>
<html>
  <head>
    <title>Energy Website</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body>
  <%= render partial: "layouts/top_header" %>
  <%= render partial: "layouts/admin_header" %>
   <div class='container-fluid'>
    <%= yield %>
    </div>
  </div>
  <footer class="footer">
      <div class="container-fluid text-center">
        <span class="text-muted"><strong>Copyright © 2020. Universiti Tenaga Nasional. All Rights Reserved.</strong></span>
      </div>
    </footer>
</body>
</html>
